.messageTextarea{
    width: 90%;
    min-width: 60px;
    max-width: 1000px;

    height: 20%;
    min-height: 40px;
    max-height: 200px;

    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.nameInput{
    text-align: center;
}

.block{
    background-color: rgba(0, 0, 0, 0.114);

    width: 60%;
    min-width: 460px;
    max-width: 1020px;

    padding-top: 10px;
    padding-bottom: 10px;

    margin: 10px 0 10px 0;
}

.darkText{
    color: #111111;
}